.skills-title{
    color: #64ffda;
}

.my-skills{
    display: flex;
    flex-wrap: wrap;
}
.my-skills span{
    background-color: rgb(99, 106, 112);
    color: whitesmoke;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 14px;
    height: 25px;
}