.skills-title{
    color: #64ffda;
}

.technology{
    display: flex;
    flex-wrap: wrap;
}
.technology span{
    background-color: rgb(99, 106, 112);
    color: whitesmoke;
    margin: 5px;
    padding: 0  8px;
    border-radius: 2px;
    font-size: 14px;
    height: 25px;
}